/*gloabal*/
body {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: #000000;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}
.btn {
  display: block;
  text-align: center;
  vertical-align: middle;
  border: 0;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ee3643;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.flag-on {
  position: absolute;
  content: "";
  width: 60px;
  height: 59px;
  top: 0;
  right: 0;
  background-image: url('../img/main-flag-new.png');
}
.flag-off {
  display: none;
}
.popular-flag-on {
  position: absolute;
  content: "";
  width: 60px;
  height: 59px;
  margin-top: -1px;
  margin-right: -1px;
  top: 0;
  right: 0;
  background-image: url('../img/main-flag-new.png');
}
.popular-flag-off {
  display: none;
}
/*gloabal*/
/*header*/
.main-header {
  background-color: #f3f7f9;
  margin-bottom: 59px;
}

.order {
  background-color: #293449;
  margin-bottom: 46px;
}
.order .container {
  display: flex;
  position: relative;
}
.header-logo {
  display: block;
  position: absolute;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 12px 56px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
}
.header-logo:hover,
.header-logo:focus {
  background-color: #ca2c37;
}
.header-logo:active {
  background-color: #ba2732;
}
.form-title-search {
  margin: 0;
  padding: 0;
  margin-left: 221px;
  width: 270px;
  box-sizing: border-box;
  position: relative;
}
.area-search {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 42px;
  color: #000000;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 48px;
  background-color: #293449;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.area-search::placeholder {
  opacity: 1;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.area-search:hover {
  background-color: #212a3a;
}
.form-icon-search {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 12px;
  left: 17px;
  opacity: 0.3;
  fill: #ffffff;
}
.form-title-search:hover .form-icon-search {
  opacity: 1;
}
.area-search:focus {
  background-color: #ffffff;
  color: #000000;
}
.area-search:focus + .form-icon-search {
  fill: #ee3643;
  opacity: 1;
}
.cart-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.cart-item a{
  display: block;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-sizing:border-box;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}
.cart-item:nth-child(1) a {
  padding-left: 44px;
  padding-right: 21px;
  position: relative;
}
.cart-item:nth-child(1) a::before {
  content: "";
  position: absolute;
  background-image: url('../img/header-icon-bookmark.min.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 14px;
  height: 16px;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}
.cart-item:nth-child(1) a:hover,
.cart-item:nth-child(1) a:focus {
  background-color: #212a3a;
}
.cart-item:nth-child(1) a:hover::before,
.cart-item:nth-child(1) a:focus::before {
  opacity: 1;
}
.cart-item:nth-child(1) a:active {
  background-color: #161d29;
  opacity: 0.6;
}
.cart-item:nth-child(1) a:active::before {
  opacity: 0.5;
}
.cart-item:nth-child(2) a {
  padding-left: 50px;
  padding-right: 21px;
  position: relative;
}
.cart-item:nth-child(2) a::before {
  content: "";
  position: absolute;
  background-image: url('../img/header-icon-cart.min.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 15px;
  height: 15px;
  top: 12px;
  left: 18px;
  opacity: 0.3;
}
.cart-item:nth-child(2) a:hover,
.cart-item:nth-child(2) a:focus {
  background-color: #212a3a;
}
.cart-item:nth-child(2) a:hover::before,
.cart-item:nth-child(2) a:focus::before {
  opacity: 1;
}
.cart-item:nth-child(2) a:active {
  background-color: #161d29;
  opacity: 0.6;
}
.cart-item:nth-child(2) a:active::before {
  opacity: 0.5;
}
.cart-item:nth-child(3) a {
  background-color: #63a63e;
  padding-left: 21px;
  padding-right: 21px;
}
.cart-item:nth-child(3) a:hover,
.cart-item:nth-child(3) a:focus {
  background-color: #5fbb2d;
}
.cart-item:nth-child(3) a:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.51)
}
.header-contacts {
  display: flex;
}
.header-contacts-columns {
  margin-right: 20px;
  width: 300px;
}
.header-contacts-columns:last-child {
  margin-right: 0;
}
.contacts-description {
  margin: 0;
  padding-left: 53px;
  padding-right: 50px;
  padding-top: 8px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}
.contacts-phone {
  display: block;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #ee3643;
  width: 270px;
  margin-bottom: 5px;
  box-sizing: border-box;
  border: 3px solid #ffffff;
  padding-left: 72px;
  padding-right: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
}
.contacts-adress {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c;
  padding-left: 10px;
}
.contacts-user-list {
  margin: 0;
  margin-left: 19px;
  padding: 0;
  list-style: none;
  display: flex;
}
.user-item:nth-child(1) {
  margin-right: 10px;
}
.user-item a{
  display: block;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  padding: 12px 25px;
  background-color: #ffffff;
}
.user-item:nth-child(1) a{
  padding-left: 48px;
  position: relative;
}
.user-item a:hover,
.user-item a:focus {
  color: #ee3643;
}
.user-item a:active {
  color: rgba(0, 0, 0, 0.3);
}
.user-item:nth-child(1) a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  background-image: url('../img/user-icon-login.min.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 14px;
  left: 14px;
  opacity: 0.3;
}
.user-item:nth-child(1) a:hover::before,
.user-item:nth-child(1) a:focus::before {
  opacity: 1;
}
.user-item:nth-child(1) a:active::before {
  opacity: 0.3;
}
.main-header .order + .container {
  padding-bottom: 65px;
}
.main-header-navigation {
  background-color: #32425c;
}
.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0 -5px #293449;
}
.navigation-item a {
  display: block;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
  padding: 19px 30px;
}
.navigation-item:nth-child(1) a {
  padding-left: 52px;
}
.navigation-item:nth-child(7) a {
  padding-right: 55px;
}
.navigation-item a:hover,
.navigation-item a:focus {
  background-color: #293449;
}
.navigation-item a:focus {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5)
}
/*header*/
/*footer*/
.footer-navigation {
  background-color: #32425c;
}
.footer-navigation .container {
  display: flex;
}
.logo-adress {
  display: flex;
  flex-direction: column;
  width: 390px;
  margin-bottom: 53px;
}
.footer-logo {
  display: block;
  width: 220px;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 12px 56px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
  margin-bottom: 30px;
}
.adress {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
.footer-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.footer-navigation-item {
  padding-top: 35px;
  padding-bottom: 40px;
  padding-left: 50px;
}
.footer-navigation-item:nth-child(n+6) {

  padding-top: 0;
}
.footer-navigation-item a {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #f1f5f7;
}
.footer-navigation-item:nth-child(n+6) a {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffd180;
}
.footer-navigation-item a:hover,
.footer-navigation-item a:focus {
  text-decoration: underline;
}
.footer-navigation-item a:active {
  opacity: 0.5;
}
.footer-info {
  background-color: #293449;
}
.footer-info .container {
  display: flex;
  padding-top: 40px;
}
.brend {
  width: 230px;
  margin-right: 160px;
  margin-bottom: 37px;
}
.brend p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}
.social {
  width: 150px;
  margin-right: 100px;
}
.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.social-item {
  background-color: #212a3a;
  border-radius: 50%;
  margin-right: 4px;
}
.social-item:last-child {
  margin-right: 0;
}
.social-item:hover,
.social-item:focus {
  background-color: #ee3643;
}
.social-item:active {
  background-color: #ee3643;
}
.btn-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.callback {
  width: 140px;
  margin-right: 20px;
}
.copyright {
  width: 140px;
  padding-left: 30px;
}
.copyright h2,
.callback h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}
.copyright p,
.callback p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffd180;
}
.copyright p:hover,
.callback p:hover,
.copyright p:focus,
.callback p:focus {
  text-decoration: underline;
  cursor: pointer;
}
.copyright p:active,
.callback p:active {
color: #ee3643;
text-decoration: none;;
}
/*footer*/
/*main-index*/
.promo {
  margin-bottom: 53px;
}
.promo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.promo-item {
  width: 300px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.promo-item:nth-child(1) {
  background-color: #ffbf47;
  margin-bottom: 20px;
  padding-top: 23px;
  padding-left: 23px;
  padding-right: 43px;
  position: relative;
}
.promo-item:nth-child(2) {
  background-color: #3bbce3;
  margin-bottom: 20px;
  padding-top: 23px;
  padding-left: 23px;
  padding-right: 28px;
  position: relative;
}
.promo-item:nth-child(3) {
  background-color: #dc91d8;
  margin-bottom: 20px;
  padding-top: 23px;
  padding-left: 25px;
  padding-right: 31px;
  position: relative;
}
.promo-item:nth-child(3),
.promo-item:nth-child(5) {
  margin-right: 0;
}
.promo-item:nth-child(4) {
  width: 620px;
}
.promo-item:nth-child(5) {
  padding-left: 0;
}
.promo-left-col h3,
.promo-services-left-col h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  margin-bottom: 17px;
}
.promo-left-col a,
.promo-services-left-col a {
  display: block;
  margin-bottom: 22px;
}
.promo-right-col,
.promo-services-right-col {
  padding-top: 8px;
}
.btn-promo,
.btn-promo-services {
  background-color: rgba(0, 0, 0, 0.1);
}
.promo-item:nth-child(1) .promo-item-title + .btn-promo {
  padding-left: 25px;
  padding-right: 24px;
}
.promo-item:nth-child(2) .promo-item-title + .btn-promo {
  padding-left: 27px;
  padding-right: 27px;
}
.promo-item:nth-child(3) .promo-item-title + .btn-promo {
  padding-left: 31px;
  padding-right: 32px;
}
.promo-services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.promo-services-item {
  width: 300px;
  padding-left: 25px;
  padding-top: 23px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
}
.promo-services-item:nth-child(1) {
  background-color: #8ed78f;
  margin-bottom: 20px;
}
.promo-services-item:nth-child(2) {
  background-color: #ffc047;
}
.promo-services-item:nth-child(1) {
  padding-right: 45px;
}
.promo-services-item:nth-child(2) {
  padding-right: 31px;
}
.promo-services-item:nth-child(1) .promo-item-title + .btn-promo-services {
  padding-left: 24px;
  padding-right: 23px;
}
.promo-services-item:nth-child(2) .promo-item-title + .btn-promo-services {
  padding-left: 38px;
  padding-right: 38px;
}
.btn-promo:hover,
.btn-promo-services:hover,
.btn-promo:focus,
.btn-promo-services:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.btn-promo:focus,
.btn-promo-services:focus {
  background-color: rgba(0, 0, 0, 0.3);
}
.promo-slider {
  position: relative;
}
.btn-slider-prev {
  position: absolute;
  width: 22px;
  height: 40px;
  left: 25px;
  top: 114px;
  background-image: url('../img/slider-icon-left.min.svg');
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.btn-slider-next {
  position: absolute;
  width: 22px;
  height: 40px;
  right: 20px;
  top: 114px;
  background-image: url('../img/slider-icon-right.min.svg');
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.btn-slider-indicator {
  background-color: #ffffff;
}
.btn-slider-indicator:nth-child(3) {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  left: 295px;
  top: 220px;
  border: 2px solid #ffffff;
  cursor: pointer;
  padding: 0;
}
.btn-slider-indicator:nth-child(4) {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 315px;
  top: 220px;
  border: 2px solid #ffffff;
  cursor: pointer;
  padding: 0;
}
.indicator-active {
  background-color: #ee3643;
}

.promo-slide1 {
  width: 620px;
  background-image: url('../img/slider-slide1.jpg');
  background-repeat: no-repeat;
  padding-top: 26px;
  padding-left: 24px;
  padding-bottom: 22px;
  box-sizing: border-box;
}
.promo-slide2 {
  width: 620px;
  background-image: url('../img/slider-slide2.jpg');
  background-repeat: no-repeat;
  padding-top: 26px;
  padding-left: 24px;
  padding-bottom: 22px;
  box-sizing: border-box;
}
.promo-slide1 h3,
.promo-slide2 h3 {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.promo-slide1 p,
.promo-slide2 p {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 125px;
}
.btn-promo-slider {
  width: 195px;
}






.popular-goods {
  margin-bottom: 21px;
}
.popular-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 25px;
  padding-bottom: 26px;
  padding-left: 28px;
  padding-right: 24px;
   background-color: #f9f5f0;
  margin-bottom: 20px;
}
.popular-wrapper h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 9px;
}
.btn-popular-goods {
  padding-left: 54px;
  padding-right: 55px;
}
.popular-goods-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.popular-goods-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  width: 220px;
  margin-right: 20px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  position: relative;
}
.popular-goods-item:nth-child(4) {
  margin-right: 0;
}
.popular-goods-item:hover,
.popular-goods-item:focus {
  box-shadow: 10px 10px 25px 0 rgba(41, 52, 73, 0.5), -10px -10px 25px 0 rgba(41, 52, 73, 0.5);
}
.img-popular-good {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 218px;
}
.popular-goods-item:hover .popular-goods-photo,
.popular-goods-item:focus .popular-goods-photo {
  display: none;
}
.btn-group {
  display: flex;
  flex-wrap: wrap;
  margin-left: 41px;
}
.btn-buy {
  width: 135px;
  background-color: #63a63e;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 7px;
  display: none;
  padding-left: 49px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  box-sizing:border-box;
  position: relative;
  box-shadow: inset 0 -3px #367315;
}
.btn-buy::before {
  content: "";
  position: absolute;
  background-image: url('../img/header-icon-cart.min.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 15px;
  height: 15px;
  top: 11px;
  left: 12px;
  opacity: 0.3;
}
.btn-buy:hover,
.btn-buy:focus {
  background-color: #5fbb2d;
}
.btn-buy:active {
  background-color: #518534;
  box-shadow: none;
}
.btn-buy:hover::before,
.btn-buy:focus::before,
.btn-buy:active::before {
  opacity: 1;
}
.btn-mark {
  width: 135px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #32425c;
  border: 3px solid #63a63e;
  display: none;
  padding-left: 34px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 3px;
  box-sizing:border-box;
}
.btn-mark:hover,
.btn-mark:focus {
  border: 3px solid #32425c;
}
.btn-mark:active {
  opacity: 0.3;
}
.popular-goods-item:hover .btn-buy,
.popular-goods-item:hover .btn-mark,
.popular-goods-item:focus .btn-buy,
.popular-goods-item:focus .btn-mark {
  display: block;
}
.popular-goods-item p {
  margin: 0 30px;
  margin-bottom: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}
.popular-goods-item s {
  text-align: center;
  margin-left: 76px;
  margin-right: 73px;
  margin-bottom: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #a9a9a9;
  text-decoration: line-through;
  text-transform: uppercase;
}
.bookmark-buy {
  padding-left: 35px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  border-radius: 3px 0 0 3px;
  padding-right: 22px;
  margin-bottom: 20px;
}
.bookmark-buy::after {
  position: absolute;
  content: "";
  border: 19px solid transparent;
  border-left: 19px solid #ee3643;
  top: 0;
  right: -38px;
}
.popular-manufactors {
  margin-bottom: 85px;
}
.btn-popular-manufactors {
  padding-left: 69px;
  padding-right: 69px;
}
.popular-manufactors-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.popular-manufactors-item {
  margin-right: 20px;
  margin-bottom: 20px;
}
.popular-manufactors-item:nth-child(4n+4) {
  margin-right: 0;
}
.popular-manufactors-item:nth-child(n+4) {
  margin-bottom: 0;
}
.popular-manufactors-item:hover,
.popular-manufactors-item:focus {
  box-shadow: -10px 10px 25px 0 rgba(41, 52, 73, 0.5),
  10px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.popular-manufactors-item:active {
  box-shadow: -4px 4px 10px 0 rgba(41, 52, 73, 0.5),
  4px 4px 10px 0 rgba(41, 52, 73, 0.5);
}
.popular-manufactors-item:active img{
  opacity: 0.3;
}
.manufactor-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
}
.services-block {
  background-color: #f4f8f9;
  margin-bottom: 82px;
}
.services-block-title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
.services-block-promo {
  margin: 0;
  margin-bottom: 68px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}
.services-wrapper {
  display: flex;
}
.services-left-col {
  width: 240px;
}
.services-right-col {
  width: 700px;
  padding-left: 80px;
}
.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  margin-bottom: 102px;
}
.services-list::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  top:-49px;
  right: 0;
  background-image: url('../img/services-vertical-line.png');
}
.btn-services-item{
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #32425c;
/*  box-shadow: inset 0 -1px rgba(51, 68, 90, 1);*/
  border-bottom: 1px solid #4d637b;
}
.btn-active-item {
  background-color: #ffffff;
  color: #32425c;
}
.btn-services-item:hover,
.btn-services-item:focus {
  background-color: #293449;
}
.services-slide-1 {
  height: 100%;
  background-image: url('../img/main-services-delivery.png');
  background-repeat: no-repeat;
  background-position: right top;
}
.services-slide-2 {
  height: 100%;
  background-image: url('../img/main-services-guarantee.png');
  background-repeat: no-repeat;
  background-position: right top;
}
.services-slide-3 {
  height: 100%;
  background-image: url('../img/main-services-credit.png');
  background-repeat: no-repeat;
  background-position: right top;
}
.services-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}
.services-description {
  margin: 0;
  margin-bottom: 30px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}
.btn-services {
  width: 195px;
  padding-left: 44px;
  padding-right: 44px;
  box-sizing: border-box;
}
.about {
  margin-bottom: 86px;
}
.about .container {
  display: flex;
}
.about-left-col h3{
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 35px;
}
.about-left-col p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}
.company-list {
  margin: 0;
  padding: 0;
  padding-left: 36px;
  list-style: none;
  margin-bottom: 41px;
}
.company-item {
  position: relative;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 25px;
}
.company-item::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  position: absolute;
  top:50%;
  left: -36px;
}
.btn-about {
  width: 220px;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}
.about-right-col h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 35px;
}
.about-right-col p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}
.about-right-col img {
  margin-bottom: 40px;
}

.btn-promo-slider:hover,
.btn-popular-goods:hover,
.btn-popular-manufactors:hover,
.btn-services:hover,
.btn-about:hover,
.btn-write-us:hover,
.btn-promo-slider:focus,
.btn-popular-goods:focus,
.btn-popular-manufactors:focus,
.btn-services:focus,
.btn-about:focus,
.btn-write-us:focus {
   background-color: #ca2c37;
}
.btn-promo-slider:active,
.btn-popular-goods:active,
.btn-popular-manufactors:active,
.btn-services:active,
.btn-about:active,
.btn-write-us:active {
  background-color: #ba2732;
}
/*main-index*/
/*header-catalog*/
.personal-area {
  display: block;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 12px;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  box-sizing: border-box;
}
/*header-catalog*/
/*main-catalog*/

/*main-catalog*/
/*footer-catalog*/

/*footer-catalog*/
/*modal-index*/

/*modal-index*/
/*modal-catalog*/

/*modal-catalog*/