/*gloabal*/
body {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: #000000;
}
a.active-page {

}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}
.btn {
  display: block;
  text-align: center;
  vertical-align: middle;
  border: 0;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ee3643;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
/*gloabal*/
/*header*/
.main-header {
  background-color: #f3f7f9;
  margin-bottom: 59px;
}

.order {
  background-color: #293449;
  margin-bottom: 46px;
}
.order .container {
  display: flex;
  position: relative;
}
.header-logo {
  display: block;
  position: absolute;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 12px 56px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
}
.form-title-search {
  margin-left: 220px;
  width: 270px;
  padding: 0;
}
.area-search {
  height: 100%;
  padding: 0;
  border: 0;
  padding-left: 49px;
  padding-right: 49px;
  box-sizing: border-box;
  background-color: #293449;
}
.cart-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.cart-item a{
  display: block;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-sizing:border-box;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}
.cart-item:nth-child(1) a {
  padding-left: 44px;
  padding-right: 21px;
  position: relative;
}
.cart-item:nth-child(1) a::before {
  content: "";
  position: absolute;
  background-image: url('../img/header-icon-bookmark.min.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 14px;
  height: 16px;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}
.cart-item:nth-child(1) a:hover,
.cart-item:nth-child(1) a:focus {
  background-color: #212a3a;
}
.cart-item:nth-child(1) a:hover::before,
.cart-item:nth-child(1) a:focus::before {
  opacity: 1;
}
.cart-item:nth-child(1) a:active {
  background-color: #161d29;
  opacity: 0.6;
}
.cart-item:nth-child(1) a:active::before {
  opacity: 0.5;
}
.cart-item:nth-child(2) a {
  padding-left: 50px;
  padding-right: 21px;
  position: relative;
}
.cart-item:nth-child(2) a::before {
  content: "";
  position: absolute;
  background-image: url('../img/header-icon-cart.min.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 15px;
  height: 15px;
  top: 12px;
  left: 18px;
  opacity: 0.3;
}
.cart-item:nth-child(2) a:hover,
.cart-item:nth-child(2) a:focus {
  background-color: #212a3a;
}
.cart-item:nth-child(2) a:hover::before,
.cart-item:nth-child(2) a:focus::before {
  opacity: 1;
}
.cart-item:nth-child(2) a:active {
  background-color: #161d29;
  opacity: 0.6;
}
.cart-item:nth-child(2) a:active::before {
  opacity: 0.5;
}
.cart-item:nth-child(3) a {
  background-color: #63a63e;
  padding-left: 21px;
  padding-right: 21px;
}
.cart-item:nth-child(3) a:hover,
.cart-item:nth-child(3) a:focus {
  background-color: #5fbb2d;
}
.cart-item:nth-child(3) a:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.51)
}
.header-contacts {
  display: flex;
}
.header-contacts-columns {
  margin-right: 20px;
  width: 300px;
}
.header-contacts-columns:last-child {
  margin-right: 0;
}
.contacts-description {
  margin: 0;
  padding-left: 53px;
  padding-right: 50px;
  padding-top: 8px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}
.contacts-phone {
  display: block;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #ee3643;
  width: 270px;
  margin-bottom: 5px;
  box-sizing: border-box;
  border: 3px solid #ffffff;
  padding-left: 72px;
  padding-right: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
}
.contacts-adress {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c;
  padding-left: 10px;
}
.contacts-user-list {
  margin: 0;
  margin-left: 19px;
  padding: 0;
  list-style: none;
  display: flex;
}
.user-item:nth-child(1) {
  margin-right: 10px;
}
.user-item a{
  display: block;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  padding: 12px 25px;
  background-color: #ffffff;
}
.user-item:nth-child(1) a{
  padding-left: 48px;
  position: relative;
}
.user-item a:hover,
.user-item a:focus {
  color: #ee3643;
}
.user-item a:active {
  color: rgba(0, 0, 0, 0.3);
}
.user-item:nth-child(1) a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  background-image: url('../img/user-icon-login.min.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 14px;
  left: 14px;
  opacity: 0.3;
}
.user-item:nth-child(1) a:hover::before,
.user-item:nth-child(1) a:focus::before {
  opacity: 1;
}
.user-item:nth-child(1) a:active::before {
  opacity: 0.3;
}
.main-header .order + .container {
  padding-bottom: 65px;
}
.main-header-navigation {
  background-color: #32425c;
}
.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0 -5px #293449;
}
.navigation-item a {
  display: block;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
  padding: 19px 30px;
}
.navigation-item:nth-child(1) a {
  padding-left: 52px;
}
.navigation-item:nth-child(7) a {
  padding-right: 55px;
}
.navigation-item a:hover,
.navigation-item a:focus {
  background-color: #293449;
}
.navigation-item a:focus {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5)
}
.promo {
  margin-bottom: 53px;
}
.promo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.promo-item {
  width: 300px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.promo-item:nth-child(1) {
  background-color: #ffbf47;
  margin-bottom: 20px;
  padding-top: 23px;
  padding-left: 23px;
  padding-right: 43px;
}
.promo-item:nth-child(2) {
  background-color: #3bbce3;
  margin-bottom: 20px;
  padding-top: 23px;
  padding-left: 23px;
  padding-right: 28px;
}
.promo-item:nth-child(3) {
  background-color: #dc91d8;
  margin-bottom: 20px;
  padding-top: 23px;
  padding-left: 25px;
  padding-right: 31px;
}
.promo-item:nth-child(3),
.promo-item:nth-child(5) {
  margin-right: 0;
}
.promo-item:nth-child(4) {
  width: 620px;
}
.promo-item:nth-child(5) {
  padding-left: 0;
}
.promo-left-col h3,
.promo-services-left-col h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  margin-bottom: 17px;
}
.promo-left-col a,
.promo-services-left-col a {
  display: block;
  margin-bottom: 22px;
}
.promo-right-col,
.promo-services-right-col {
  padding-top: 8px;
}
.btn-promo,
.btn-promo-services {
  background-color: rgba(0, 0, 0, 0.1);
}
.promo-item:nth-child(1) .promo-item-title + .btn-promo {
  padding-left: 25px;
  padding-right: 24px;
}
.promo-item:nth-child(2) .promo-item-title + .btn-promo {
  padding-left: 27px;
  padding-right: 27px;
}
.promo-item:nth-child(3) .promo-item-title + .btn-promo {
  padding-left: 31px;
  padding-right: 32px;
}
.promo-services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.promo-services-item {
  width: 300px;
  padding-left: 25px;
  padding-top: 23px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.promo-services-item:nth-child(1) {
  background-color: #8ed78f;
  margin-bottom: 20px;
}
.promo-services-item:nth-child(2) {
  background-color: #ffc047;
}
.promo-services-item:nth-child(1) {
  padding-right: 45px;
}
.promo-services-item:nth-child(2) {
  padding-right: 31px;
}
.promo-services-item:nth-child(1) .promo-item-title + .btn-promo-services {
  padding-left: 24px;
  padding-right: 23px;
}
.promo-services-item:nth-child(2) .promo-item-title + .btn-promo-services {
  padding-left: 38px;
  padding-right: 38px;
}
.btn-promo:hover,
.btn-promo-services:hover,
.btn-promo:focus,
.btn-promo-services:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.btn-promo:focus,
.btn-promo-services:focus {
  background-color: rgba(0, 0, 0, 0.3);
}
.popular-goods {

}
.popular-goods-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 25px;
  padding-bottom: 26px;
  padding-left: 28px;
  padding-right: 24px;
   background-color: #f9f5f0;
  margin-bottom: 20px;
}
.popular-goods-wrapper h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 9px;
}
.btn-popular-goods {
  padding-left: 54px;
  padding-right: 55px;
}
.popular-goods-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.popular-goods-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 220px;
  margin-right: 20px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}
.popular-goods-item:nth-child(4) {
  margin-right: 0;
}
.img-popular-good {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 218px;
}
.popular-goods-item p {
  margin: 0 33px;
  text-align: center;
}



.popular-manufactors-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.services-wrapper {
  display: flex;
}
.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.about .container {
  display: flex;
}
.footer-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.adress {
  margin: 0;
}
.footer-info .container {
  display: flex;
}
.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
