
Skip to content

    Features
    Business
    Explore
    Marketplace
    Pricing

This repository
Sign in or Sign up

2
0

    1

htmlacademy-htmlcss/201369-technomart
Code
Pull requests 0
Projects 0
Insights
201369-technomart/css/style.css
c1fe372 27 days ago
@Gordislava Gordislava Слайдер, мелкие исправления, минификация
2882 lines (2528 sloc) 49.2 KB
body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin-bottom: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.header-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
}

.header-top-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}


.main-header-logo {
  width: 220px;
  height: 42px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
  position: absolute;
  margin: 0;
  cursor: default;
}

.main-header-logo a {
  display: inline-block;
  vertical-align: baseline;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  padding-left: 55px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.main-header-logo:hover {
  background-color: #ca2c37;
  border-bottom-color: #9a212a;
}

.main-header-logo:active {
  background-color: #ba2732;
}

.header-top a {
  color: #ffffff;
}

.header-top a:active {
  color: rgba(255,255,255,0.4);
}

.header-top input {
  margin: 0;
  padding: 0;
  padding-right: 130px;
  width: 100%;
  height: 42px;
  padding-bottom: 4px;
  padding-left: 48px;
}

.header-top input::-webkit-input-placeholder {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
  color: #ffffff;
  padding-top: 14px;
  padding-bottom: 14px;
}

.header-top input:-ms-input-placeholder {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: baseline;
  color: #ffffff;
  padding-top: 14px;
  padding-bottom: 14px;
}

.header-top input::-ms-input-placeholder {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: baseline;
  color: #ffffff;
  padding-top: 14px;
  padding-bottom: 14px;
}

.header-top input::placeholder {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
  color: #ffffff;
  padding-top: 14px;
  padding-bottom: 14px;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.header-top .search-form:hover {
  background-color: #212a3a;
}

.header-top .search-form,
.header-top .search-form:active{
  background-color: #293449;
  color: #ffffff;
  border: none;
}

.header-top .search-form:focus {
  background-color: #ffffff;
  color: #000000;
  outline: 0;
}

.search {
  display: inline-block;
  vertical-align: baseline;
  width: 270px;
  margin: 0;
  margin-left: 220px;
  position: relative;
}

.search .icon-search {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 11px;
  left: 18px;
  z-index: 999;
  opacity: 0.3;
  fill: #ffffff;
}

.search:hover .icon-search {
  opacity: 1;
}

.search-form:focus + .icon-search {
  fill: #ee3643;
  opacity: 1;
}
