/*gloabal*/
body {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: #000000;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}
.btn {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: block;
  padding-top: 11px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  border-radius: 3px;
  background-color: #ee3643;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.flag-on {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;
  margin-top: -1px;
  margin-right: -1px;
  content: "";
  background-image: url("../img/main-flag-new.png");
}
.flag-off {
  display: none;
}
/*gloabal*/
/*header*/
.main-header {
  margin-bottom: 59px;
  background-color: #f3f7f9;
}
.order {
  margin-bottom: 46px;
  background-color: #293449;
}
.order .container {
  position: relative;
  display: flex;
}
.header-logo {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 56px;
  padding-right: 54px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
}
.header-logo:hover,
.header-logo:focus {
  background-color: #ca2c37;
}
.header-logo:active {
  background-color: #ba2732;
}
.form-title-search {
  position: relative;
  box-sizing: border-box;
  width: 270px;
  margin: 0;
  margin-left: 221px;
  padding: 0;
}
.area-search {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  width: 100%;
  height: 42px;
  margin: 0;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 14px;
  padding-left: 48px;
  color: #000000;
  border: 0;
  background-color: #293449;
}
.area-search::placeholder {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  opacity: 1;
  color: #ffffff;
}
.area-search:hover {
  background-color: #212a3a;
}
.form-icon-search {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;
  opacity: 0.3;

  fill: #ffffff;
}
.form-title-search:hover .form-icon-search {
  opacity: 1;
}
.area-search:focus {
  color: #000000;
  background-color: #ffffff;
}
.area-search:focus + .form-icon-search {
  opacity: 1;

  fill: #ee3643;
}
.cart-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.cart-item a {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  display: block;
  box-sizing: border-box;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #ffffff;
}
.cart-item:nth-child(1) a {
  position: relative;
  padding-right: 21px;
  padding-left: 44px;
}
.cart-item:nth-child(1) a::before {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  content: "";
  opacity: 0.3;
  background-image: url("../img/header-icon-bookmark.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.cart-item:nth-child(1) a:hover,
.cart-item:nth-child(1) a:focus {
  background-color: #212a3a;
}
.cart-item:nth-child(1) a:hover::before,
.cart-item:nth-child(1) a:focus::before {
  opacity: 1;
}
.cart-item:nth-child(1) a:active {
  opacity: 0.6;
  background-color: #161d29;
}
.cart-item:nth-child(1) a:active::before {
  opacity: 0.5;
}
.cart-item:nth-child(2) a {
  position: relative;
  padding-right: 21px;
  padding-left: 50px;
}
.cart-item:nth-child(2) a::before {
  position: absolute;
  top: 12px;
  left: 18px;
  width: 15px;
  height: 15px;
  content: "";
  opacity: 0.3;
  background-image: url("../img/header-icon-cart.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.cart-item:nth-child(2) a:hover,
.cart-item:nth-child(2) a:focus {
  background-color: #212a3a;
}
.cart-item:nth-child(2) a:hover::before,
.cart-item:nth-child(2) a:focus::before {
  opacity: 1;
}
.cart-item:nth-child(2) a:active {
  opacity: 0.6;
  background-color: #161d29;
}
.cart-item:nth-child(2) a:active::before {
  opacity: 0.5;
}
.cart-item:nth-child(3) a {
  padding-right: 21px;
  padding-left: 21px;
  background-color: #63a63e;
}
.cart-item:nth-child(3) a:hover,
.cart-item:nth-child(3) a:focus {
  background-color: #5fbb2d;
}
.cart-item:nth-child(3) a:active {
  color: rgba(255, 255, 255, 0.51);;
  background-color: #518534;
}
.header-contacts {
  display: flex;
  margin-bottom: 41px;
}
.header-contacts-columns {
  width: 300px;
  margin-right: 20px;
}
.header-contacts-columns:last-child {
  margin-right: 0;
}
.contacts-description {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  margin: 0;
  padding-top: 2px;
  padding-right: 50px;
  padding-left: 52px;
  color: #ee3643;
}
.contacts-phone {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 270px;
  margin-bottom: 5px;
  padding-top: 9px;
  padding-right: 50px;
  padding-bottom: 7px;
  padding-left: 71px;
  color: #ee3643;
  border: 3px solid #ffffff;
}
.contacts-adress {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 10px;
  color: #32425c;
}
.contacts-user-list {
  display: flex;
  margin: 0;
  margin-left: 19px;
  padding: 0;
  list-style: none;
}
.user-item:nth-child(1) {
  margin-right: 10px;
}
.user-item a {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  display: block;
  padding: 12px 25px;
  color: #000000;
  background-color: #ffffff;
}
.user-item:nth-child(1) a {
  position: relative;
  padding-left: 48px;
}
.user-item a:hover,
.user-item a:focus {
  color: #ee3643;
}
.user-item a:active {
  color: rgba(0, 0, 0, 0.3);
}
.user-item:nth-child(1) a::before {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;
  content: "";
  opacity: 0.3;
  background-image: url("../img/user-icon-login.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.user-item:nth-child(1) a:hover::before,
.user-item:nth-child(1) a:focus::before {
  opacity: 1;
}
.user-item:nth-child(1) a:active::before {
  opacity: 0.3;
}
.main-header .order + .container {
  padding-bottom: 60px;
}
.main-header-navigation {
  background-color: #32425c;
}
.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 4px;
  list-style: none;
  box-shadow: inset 0 -5px #293449;
  justify-content: space-between;
}
.navigation-item a {
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  display: block;
  padding: 19px 30px;
  color: #ffffff;
}
.navigation-item:nth-child(1) a {
  padding-left: 52px;
}
.navigation-item:nth-child(2) a {
  padding-left: 32px;
}
.navigation-item:nth-child(3) a {
  padding-left: 27px;
}
.navigation-item:nth-child(7) a {
  padding-right: 54px;
}
.navigation-item a:hover,
.navigation-item a:focus {
  background-color: #293449;
}
.navigation-item a:focus {
  color: rgba(255, 255, 255, 0.5);;
  background-color: #1d2739;
}
/*header*/
/*footer*/
.footer-navigation {
  background-color: #32425c;
}
.footer-navigation .container {
  display: flex;
}
.logo-adress {
  width: 380px;
  margin-right: 10px;
  margin-bottom: 50px;
}
.footer-logo {
  width: 220px;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  display: block;
  padding-top: 17px;
  padding-bottom: 20px;
  padding-left: 41px;
  padding-right: 41px;
  margin-bottom: 28px;
  box-sizing: border-box;  
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
}
.adress {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-left: 3px;
  color: #ffffff;
}
.footer-navigation-list {
  display: flex;
  width: 550px;
  margin: 0;
  padding: 0;
  list-style: none;

  justify-content: flex-end;
  flex-wrap: wrap;
}
.footer-navigation-item {
  padding-top: 35px;
  padding-bottom: 40px;
  padding-left: 50px;
}
.footer-navigation-item:nth-child(n+6) {
  padding-top: 0;
}
.footer-navigation-item a {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #f1f5f7;
}
.footer-navigation-item:nth-child(n+6) a {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffd180;
}
.footer-navigation-item a:hover,
.footer-navigation-item a:focus {
  text-decoration: underline;
}
.footer-navigation-item a:active {
  opacity: 0.5;
}
.footer-info {
  background-color: #293449;
}
.footer-info .container {
  display: flex;
  padding-top: 37px;
}
.brend {
  width: 230px;
  margin-right: 160px;
  margin-bottom: 37px;
}
.brend p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  color: #ffffff;
}
.social {
  width: 150px;
  margin-right: 100px;
}
.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-item {
  margin-right: 4px;
  border-radius: 50%;
  background-color: #212a3a;
}
.social-item:last-child {
  margin-right: 0;
}
.social-item:hover,
.social-item:focus {
  background-color: #ee3643;
}
.social-item:active {
  background-color: #ee3643;
}
.btn-social {
  display: flex;
  width: 40px;
  height: 40px;

  align-items: center;
  justify-content: center;
}
.callback {
  width: 140px;
  margin-right: 20px;
}
.copyright {
  width: 140px;
  padding-left: 30px;
}
.copyright h2,
.callback h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  color: #ffffff;
}
.copyright p,
.callback p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  color: #ffd180;
}
.copyright p:hover,
.callback p:hover,
.copyright p:focus,
.callback p:focus {
  cursor: pointer;
  text-decoration: underline;
}
.copyright p:active,
.callback p:active {
  text-decoration: none;
  color: #ee3643;;
}
/*footer*/
/*main-index*/
.promo {
  margin-bottom: 53px;
}
.promo-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  flex-wrap: wrap;
}
.promo-item {
  display: flex;
  box-sizing: border-box;
  width: 300px;
  margin-right: 20px;

  justify-content: space-between;
}
.promo-item:nth-child(1) {
  position: relative;
  margin-bottom: 20px;
  padding-top: 21px;
  padding-right: 43px;
  padding-left: 22px;
  background-color: #ffbf47;
}
.promo-item:nth-child(2) {
  position: relative;
  margin-bottom: 20px;
  padding-top: 21px;
  padding-right: 28px;
  padding-left: 22px;
  background-color: #3bbce3;
}
.promo-item:nth-child(3) {
  position: relative;
  margin-bottom: 20px;
  padding-top: 21px;
  padding-right: 31px;
  padding-left: 22px;
  background-color: #dc91d8;
}
.promo-item:nth-child(3),
.promo-item:nth-child(5) {
  margin-right: 0;
}
.promo-item:nth-child(4) {
  width: 620px;
}
.promo-item:nth-child(5) {
  padding-left: 0;
}
.promo-left-col h3,
.promo-services-left-col h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  margin-bottom: 12px;
  color: #ffffff;
}
.promo-left-col a,
.promo-services-left-col a {
  display: block;
  margin-bottom: 21px;
}
.promo-right-col,
.promo-services-right-col {
  padding-top: 10px;
}
.promo-item:nth-child(2) .promo-right-col {
  padding-top: 12px;
}
.btn-promo,
.btn-promo-services {
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 3px;
}
.promo-item:nth-child(1) .promo-item-title + .btn-promo {
  padding-right: 24px;
  padding-left: 24px;
}
.promo-item:nth-child(2) .promo-item-title + .btn-promo {
  padding-right: 25px;
  padding-left: 27px;
}
.promo-item:nth-child(3) .promo-item-title + .btn-promo {
  padding-right: 32px;
  padding-left: 28px;
}
.promo-services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.promo-services-item {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 300px;
  padding-top: 21px;
  padding-left: 22px;

  justify-content: space-between;
}
.promo-services-item:nth-child(1)
.promo-services-right-col {
  padding-top: 5px;
}
.promo-services-item:nth-child(1) {
  margin-bottom: 20px;
  background-color: #8ed78f;
}
.promo-services-item:nth-child(2) {
  background-color: #ffc047;
}
.promo-services-item:nth-child(1) {
  padding-right: 45px;
}
.promo-services-item:nth-child(2) {
  padding-right: 31px;
}
.promo-services-item:nth-child(1) .promo-item-title + .btn-promo-services {
  padding-right: 23px;
  padding-left: 20px;
}
.promo-services-item:nth-child(2) .promo-item-title + .btn-promo-services {
  padding-right: 38px;
  padding-left: 34px;
}
.btn-promo:hover,
.btn-promo-services:hover,
.btn-promo:focus,
.btn-promo-services:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.btn-promo:focus,
.btn-promo-services:focus {
  background-color: rgba(0, 0, 0, 0.3);
}
.promo-slider {
  position: relative;
}
.btn-slider-prev {
  position: absolute;
  top: 114px;
  left: 25px;
  width: 22px;
  height: 40px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  background-image: url("../img/slider-icon-left.min.svg");
}
.btn-slider-next {
  position: absolute;
  top: 114px;
  right: 20px;
  width: 22px;
  height: 40px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  background-image: url("../img/slider-icon-right.min.svg");
}
.btn-slider-indicator {
  background-color: #ffffff;
}
.btn-slider-indicator:nth-child(3) {
  position: absolute;
  top: 220px;
  left: 295px;
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  padding: 0;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 50%;
}
.btn-slider-indicator:nth-child(4) {
  position: absolute;
  top: 220px;
  left: 315px;
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 50%;
}
.indicator-active {
  background-color: #ee3643;
}

.promo-slide1 {
  box-sizing: border-box;
  width: 620px;
  padding-top: 23px;
  padding-bottom: 22px;
  padding-left: 24px;
  background-image: url("../img/slider-slide1.jpg");
  background-repeat: no-repeat;
}
.promo-slide2 {
  box-sizing: border-box;
  width: 620px;
  padding-top: 23px;
  padding-bottom: 22px;
  padding-left: 25px;
  background-image: url("../img/slider-slide2.jpg");
  background-repeat: no-repeat;
}
.promo-slide1 h3,
.promo-slide2 h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  margin-bottom: 1px;
  text-transform: uppercase;
  color: #ffffff;
}
.promo-slide1 p,
.promo-slide2 p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 122px;
  color: #ffffff;
}
.btn-promo-slider {
  width: 195px;
}
.promo-slide1 .btn-promo-slider {
  width: 195px;
  padding-left: 2px;
}
.popular-goods {
  margin-bottom: 21px;
}
.popular-wrapper {
  display: flex;
  margin-bottom: 20px;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 26px;
  padding-left: 28px;
  background-color: #f9f5f0;

  justify-content: space-between;
  align-items: flex-start;
}
.popular-wrapper h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding-top: 5px;
  text-transform: uppercase;
  color: #32425c;
}
.btn-popular-goods {
  padding-right: 55px;
  padding-left: 54px;
}
.popular-goods-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  flex-wrap: wrap;
}
.popular-goods-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 218px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-right: 20px;
  line-height:20px;
  font-weight:bold;
  text-align:center;
}
.popular-goods-item:nth-child(4n) {
  margin-right: 0;
}
.goods-title {
  display: block;
}
.goods-discount {
  display: block;
}
.goods-price {
  display: block;
}
.popular-goods-item .flag {
  position: absolute;
  content: "";
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}
.popular-goods-item .flag-new{
    background: url("../img/main-flag-new.png") no-repeat 0 0;
}
.popular-goods-item .actions {
  display: none;
}
.popular-goods-item .popular-img-wrapper {
  width: 218px;
  /*height: 168px;*/
}
.popular-goods-photo {
  max-width: 100%;
  height: auto;
}
.popular-goods-item:nth-child(1) > .popular-img-wrapper .popular-goods-photo {
  width: 184px;
  height: 164px;
  margin-left: -2px;
}
.popular-goods-item:nth-child(2) > .popular-img-wrapper .popular-goods-photo {
  width: 127px;
  height: 112px;
  margin-left: -12px;
}
.popular-goods-item:nth-child(3) > .popular-img-wrapper .popular-goods-photo {
  width: 144px;
  height: 128px;
  margin-left: -20px;
}
.popular-goods-item:nth-child(4) > .popular-img-wrapper .popular-goods-photo {
  width: 127px;
  height: 112px;
  margin-left: -28px;
}
.popular-goods-item:hover,
.popular-goods-item:focus {
  box-shadow: 10px 10px 25px 0 rgba(41, 52, 73, 0.5), -10px -10px 25px 0 rgba(41, 52, 73, 0.5);
}
.popular-goods-item:nth-child(1) .popular-img-wrapper {
  padding-top: 4px;
  margin-bottom: 5px;
}
.popular-goods-item:nth-child(2) .popular-img-wrapper {
  padding-top: 27px;
  margin-bottom: 34px;
}
.popular-goods-item:nth-child(3) .popular-img-wrapper {
  padding-top: 20px;
  margin-bottom: 25px;
}
.popular-goods-item:nth-child(4) .popular-img-wrapper {
  padding-top: 27px;
  margin-bottom: 34px;
}
.popular-goods-item .goods-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 30px;
  margin-bottom: 10px;
  text-align: center;
  color: #000000;
}
.popular-goods-item:nth-child(4) .goods-title {
  margin-bottom: 40px;
}
.popular-goods-item .goods-discount {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  margin-right: 73px;
  margin-bottom: 13px;
  margin-left: 76px;
  text-align: center;
  text-align: center;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #a9a9a9;
}
.popular-goods-item .goods-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  position: relative;
  margin-bottom: 20px;
  margin-left: 43px;
  margin-right: 55px;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-right: 16px;
  padding-left: 35px;
  text-align: center;
  background-color: #ee3643;
  color: #ffffff;
  border-radius: 3px 0 0 3px;
}
.popular-goods-item .goods-price::after {
  position: absolute;
  top: 0;
  right: -38px;
  content: "";
  border: 19px solid transparent;
  border-left: 19px solid #ee3643;
}
.popular-goods-item .actions{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}
.popular-goods-item .actions{
    display:none;
}
.popular-goods-item:hover .actions,
.popular-goods-item:focus .actions {
    display:block;
}
.btn-buy {
  margin:0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  position: relative;
  box-sizing: border-box;
  width: 135px;
  margin-bottom: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 49px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  background-color: #63a63e;
  box-shadow: inset 0 -3px #367315;
}
.btn-buy::before {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 15px;
  height: 15px;
  content: "";
  opacity: 0.3;
  background-image: url("../img/header-icon-cart.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.btn-buy:hover,
.btn-buy:focus {
  background-color: #5fbb2d;
}
.btn-buy:active {
  background-color: #518534;
  box-shadow: none;
}
.btn-buy:hover::before,
.btn-buy:focus::before,
.btn-buy:active::before {
  opacity: 1;
}
.btn-mark {
  margin:0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: none;
  box-sizing: border-box;
  width: 135px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 34px;
  text-transform: uppercase;
  color: #32425c;
  border: 3px solid #63a63e;
  border-radius: 3px;
}
.btn-mark:hover,
.btn-mark:focus {
  border: 3px solid #32425c;
}
.btn-mark:active {
  opacity: 0.3;
}
.popular-goods-item:hover .btn-buy,
.popular-goods-item:hover .btn-mark,
.popular-goods-item:focus .btn-buy,
.popular-goods-item:focus .btn-mark {
  display: block;
}
.popular-manufactors {
  margin-bottom: 85px;
}
.popular-manufactors-wrapper {
  display: flex;
  margin-bottom: 20px;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 26px;
  padding-left: 24px;
  background-color: #f9f5f0;

  justify-content: space-between;
  align-items: flex-start;
}
.popular-manufactors-wrapper h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding-top: 5px;
  text-transform: uppercase;
  color: #32425c;
}
.btn-popular-goods {
  padding-right: 55px;
  padding-left: 54px;
}
.btn-popular-manufactors {
  padding-right: 69px;
  padding-left: 69px;
}
.popular-manufactors-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  flex-wrap: wrap;
  justify-content: space-around;
}
.popular-manufactors-item {
  margin-right: 20px;
  margin-bottom: 20px;
}
.popular-manufactors-item:nth-child(4n+4) {
  margin-right: 0;
}
.popular-manufactors-item:nth-child(n+4) {
  margin-bottom: 0;
}
.popular-manufactors-item:hover,
.popular-manufactors-item:focus {
  box-shadow: -10px 10px 25px 0 rgba(41, 52, 73, 0.5),
  10px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.popular-manufactors-item:active {
  box-shadow: -4px 4px 10px 0 rgba(41, 52, 73, 0.5),
  4px 4px 10px 0 rgba(41, 52, 73, 0.5);
}
.popular-manufactors-item:active img {
  opacity: 0.3;
}
.manufactor-link {
  display: flex;
  box-sizing: border-box;
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;

  justify-content: center;
  align-items: center;
}
.popular-manufactors-item:nth-child(1) .manufactor-link > .manufactor-photo {
  margin-top: -2px;
}
.popular-manufactors-item:nth-child(2) .manufactor-link > .manufactor-photo {
  margin-top: -4px;
}
.popular-manufactors-item:nth-child(3) .manufactor-link > .manufactor-photo {
  margin-top: -4px;
}
.popular-manufactors-item:nth-child(4) .manufactor-link > .manufactor-photo {
  margin-top: -2px;
}
.popular-manufactors-item:nth-child(5) .manufactor-link > .manufactor-photo {
  margin-top: 2px;
  margin-left: 4px;
}
.popular-manufactors-item:nth-child(6) .manufactor-link > .manufactor-photo {
  margin-left: -2px;
}
.popular-manufactors-item:nth-child(7) .manufactor-link > .manufactor-photo {
  margin-top: -4px;
  margin-left: 4px;
}
.popular-manufactors-item:nth-child(8) .manufactor-link > .manufactor-photo {
  margin-top: -6px;
  margin-left: 4px;
}
.services-block {
  padding-top: 64px;
  margin-bottom: 79px;
  background-color: #f4f8f9;
}
.services-block-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #000000;
}
.services-block-promo {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 68px;
  color: #000000;
}
.services-wrapper {
  display: flex;
}
.services-left-col {
  width: 240px;
}
.services-right-col {
  width: 700px;
  padding-left: 80px;
}
.services-list {
  position: relative;
  margin: 0;
  margin-bottom: 102px;
  padding: 0;
  list-style: none;
}
.services-item {
  width: 240px;
}
.services-list::after {
  position: absolute;
  top: -49px;
  right: 0;
  width: 10px;
  height: 279px;
  content: "";
  background-image: url("../img/services-vertical-line.png");
}
.btn-services-item {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  display: block;
  padding-top: 13px;
  padding-bottom: 17px;
  padding-right: 22px;
  padding-left: 22px;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: inset 0 1px rgba(64, 80, 105, 1),
              0 1px rgba(41, 52, 73, 1);
}
.active-item {
  color: #32425c;
  background-color: #ffffff;
  padding-top: 16px;
  padding-bottom: 18px;
  box-shadow: inset 0 -1px rgba(255, 255, 255, 1);
  border-bottom: 0;
}
.btn-services-item:hover,
.btn-services-item:focus {
  background-color: #293449;
}
.services-slide-1 {
  height: 100%;
  background-image: url("../img/main-services-delivery.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.services-slide-2 {
  height: 100%;
  background-image: url("../img/main-services-guarantee.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.services-slide-3 {
  height: 100%;
  background-image: url("../img/main-services-credit.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.services-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #32425c;
}
.services-description {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 30px;
  color: #000000;
}
.btn-services {
  box-sizing: border-box;
  width: 195px;
  padding-right: 44px;
  padding-left: 44px;
}
.about {
  margin-bottom: 85px;
}
.about .container {
  display: flex;
}
.about-left-col {
  width: 620px;
  margin-right: 20px;
}
.about-left-col h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  margin-bottom: 26px;
  margin-right: 139px;
  text-transform: uppercase;
  color: #000000;
}
.about-left-col p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 21px;
  color: #000000;
}
.about-left-col p:nth-child(2) {
  margin-bottom: 24px;
}
.company-list {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  padding-left: 36px;
  list-style: none;
}
.company-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  margin-bottom: 20px;
  color: #000000;
}
.company-item::before {
  position: absolute;
  top: 50%;
  left: -36px;
  width: 25px;
  height: 2px;
  content: "";
  background-color: #ee3643;
}
.btn-about {
  box-sizing: border-box;
  width: 220px;
  padding-right: 40px;
  padding-left: 40px;
}
.about-right-col h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  margin-bottom: 26px;
  text-transform: uppercase;
  color: #000000;
}
.about-right-col p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 32px;
  color: #000000;
}
.about-right-col img {
  margin-bottom: 34px;
}
.btn-write-us {
  padding-left: 7px;
}
.btn-promo-slider:hover,
.btn-popular-goods:hover,
.btn-popular-manufactors:hover,
.btn-services:hover,
.btn-about:hover,
.btn-write-us:hover,
.btn-promo-slider:focus,
.btn-popular-goods:focus,
.btn-popular-manufactors:focus,
.btn-services:focus,
.btn-about:focus,
.btn-write-us:focus {
  background-color: #ca2c37;
}
.btn-promo-slider:active,
.btn-popular-goods:active,
.btn-popular-manufactors:active,
.btn-services:active,
.btn-about:active,
.btn-write-us:active {
  background-color: #ba2732;
}
/*main-index*/
/*header-catalog*/
.catalog {
  margin-bottom: 0;
}
.personal-area {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 13px;
  padding-right: 10px;
  padding-bottom: 14px;
  padding-left: 13px;
  color: #000000;
  background-color: #ffffff;
}
.personal-area:active {
  opacity: 0.3;
}
.user-icon-avatar {
  margin-right: 12px;
}
.user-icon-logout {
  margin-left: 28px;
}
.personal-area:hover .user-icon-avatar > path,
.personal-area:focus .user-icon-avatar > path {
  fill: #32425c;
}
.personal-area:hover .user-icon-logout > g,
.personal-area:focus .user-icon-logout > g {
  fill: #32425c;
}
.personal-area-list {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.personal-area-list::before {
  position: absolute;
  top: 12px;
  left: 108px;
  width: 4px;
  height: 4px;
  content: "";
  border-radius: 50%;
  background-color: #32425c;
}
.personal-area-item:nth-child(1) {
  margin-right: 32px;
  margin-left: 19px;
}
.personal-area-item a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}
.personal-area-item a:hover,
.personal-area-item a:focus {
  color: #ee3643;
}
.personal-area-item a:active {
  opacity: 0.3;
  color: #32425c;
}
/*header-catalog*/
/*main-catalog*/
.breadcrumbs-list {
  display: flex;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-top: 22px;
  list-style: none;
}
.breadcrumbs-item {
  position: relative;
}
.breadcrumbs-item:nth-child(1) {
  padding-right: 40px;
}
.breadcrumbs-item:nth-child(2) {
  padding-right: 39px;
}
.breadcrumbs-item:nth-child(3) {
  padding-right: 43px;
}
.breadcrumbs-item:nth-child(1)::after {
  position: absolute;
  top: 6px;
  right: 19px;
  width: 8px;
  height: 12px;
  content: "";
  background-image: url("../img/breadcrumbs-icon-step.min.svg");
}
.breadcrumbs-item:nth-child(2)::after {
  position: absolute;
  top: 6px;
  right: 16px;
  width: 8px;
  height: 12px;
  content: "";
  background-image: url("../img/breadcrumbs-icon-step.min.svg");
}
.breadcrumbs-item:nth-child(3)::after {
  position: absolute;
  top: 6px;
  right: 18px;
  width: 8px;
  height: 12px;
  content: "";
  background-image: url("../img/breadcrumbs-icon-step.min.svg");
}
.breadcrumbs-item a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}
.catalog-wrapper {
  display: flex;
  margin-bottom: 60px;

  flex-wrap: wrap;
}
.catalog-wrapper h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  display: block;
  width: 100%;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 34px;
  padding-left: 28px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}
.wrapper-left-col {
  width: 220px;
  margin-right: 20px;
  padding-top: 20px;
}
.form-filter-goods {
  margin: 0;
  padding: 0;
}
.form-filter-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  display: block;
  padding-top: 10px;
  padding-right: 18px;
  padding-bottom: 10px;
  padding-left: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #f7f3ec;
}
.first-filter-type {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.first-filter-type legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 23px;
  text-transform: uppercase;
  color: #000000;
}

.range-filter {
  width: 220px;
}
.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
}
.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  cursor: pointer;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  margin-bottom: 25px;
}
.price-controls {
  font-size: 0;
}
.price-controls [name="min-price"],
.price-controls [name="max-price"] {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  display: inline-block;
  box-sizing: border-box;
  width: 95px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  border: 0;
  border-radius: 3px;
  background-color: #f7f3ec;
}
.price-controls input[name="min-price"] {
  margin-right: 30px;
}
.range-filter {
  position: relative;
}
.price-controls::before {
  position: absolute;
  top: 114px;
  left: 50%;
  width: 9px;
  height: 1px;
  margin-left: -4px;
  content: "";
  background-color: #444444;
}
.second-filter-type {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.second-filter-type legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #000000;
}
.filter-manufactor-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.filter-manufactor-item {
  margin-bottom: 24px;
}
.filter-manufactor-item:last-child {
  margin-bottom: 25px;
}
.filter-manufactor-item label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  display: block;
  padding-left: 35px;
  cursor: pointer;
  text-transform: uppercase;
  color: #000000;
}
.filter-input-checkbox + label::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 27px;
  height: 23px;
  margin-top: -12px;
  content: "";
  cursor: pointer;
  background-image: url("../img/filter-checkbox-off.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked + label::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 27px;
  height: 23px;
  margin-top: -12px;
  content: "";
  cursor: pointer;
  background-image: url("../img/filter-checkbox-on.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:disabled + label::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 27px;
  height: 23px;
  margin-top: -12px;
  content: "";
  cursor: pointer;
  background-image: url("../img/filter-checkbox-on-disabled.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.third-filter-type {
  margin: 0;
  padding: 0;
  border: 0;
}
.third-filter-type legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #000000;
}
.type-supply-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.filter-supply-item {
  margin-bottom: 24px;
}
.filter-supply-item:last-child {
  margin-bottom: 80px;
}
.filter-supply-item label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  display: block;
  padding-left: 35px;
  cursor: pointer;
  cursor: pointer;
  text-transform: uppercase;
  color: #000000;
}
.filter-input-radio + label::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 27px;
  height: 27px;
  margin-top: -12px;
  content: "";
  cursor: pointer;
  background-image: url("../img/filter-radio-off.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-radio:checked + label::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 27px;
  height: 27px;
  margin-top: -12px;
  content: "";
  cursor: pointer;
  background-image: url("../img/filter-radio-on.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-radio:disabled + label::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 27px;
  height: 27px;
  margin-top: -12px;
  content: "";
  cursor: pointer;
  background-image: url("../img/filter-radio-off-disabled.min.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.btn-form-filter {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  box-sizing: border-box;
  padding: 0;
  padding: 10px 39px;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
}
.wrapper-right-col {
  width: 700px;
  padding-top: 20px;
}
.form-sort-result {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 18px;
  background-color: #f7f3ec;
}
.form-sort-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  display: block;
  margin-right: 140px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #000000;
}
.sort-list {
  display: flex;
  height: 18px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sort-item {
  padding: 0;
}
.sort-item:nth-child(1) {
  margin-right: 72px;
}
.sort-item:nth-child(2) {
  margin-right: 66px;
}
.sort-item:nth-child(3) {
  margin-right: 46px;
}
.sort-item:nth-child(4) {
  margin-right: 21px;
}
.sort-item a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  display: block;
  padding-top: 10px;
  text-transform: uppercase;
  opacity: 0.3;
  color: #000000;
  border-bottom: 1px dotted #ee3643;
}
.sort-item:nth-child(4) a,
.sort-item:nth-child(5) a {
  border-bottom: 0;
}
.sort-item:nth-child(1) a:hover,
.sort-item:nth-child(2) a:hover,
.sort-item:nth-child(3) a:hover,
.sort-item:nth-child(1) a:focus,
.sort-item:nth-child(2) a:focus,
.sort-item:nth-child(3) a:focus {
  opacity: 1;
  border-bottom: 1px solid #ee3643;
}
.sort-item:nth-child(1) a:active,
.sort-item:nth-child(2) a:active,
.sort-item:nth-child(3) a:active {
  opacity: 1;
  color: #ee3643;
  border-bottom: 0;
}
.sort-item:nth-child(4) a:hover,
.sort-item:nth-child(5) a:hover,
.sort-item:nth-child(4) a:focus,
.sort-item:nth-child(5) a:focus {
  opacity: 1;
}
.sort-item:nth-child(4) a:active path,
.sort-item:nth-child(5) a:active path {
  opacity: 1;

  fill: #ee3643;
}
.result-list {
  display: flex;
  margin: 0;
  margin-bottom: 52px;
  padding: 0;
  list-style: none;

  flex-wrap: wrap;
}
.result-item {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;

  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
.result-item:nth-child(3n) {
  margin-right: 0;
}
.result-item:hover,
.result-item:focus {
  box-shadow: 10px 10px 25px 0 rgba(41, 52, 73, 0.5), -10px -10px 25px 0 rgba(41, 52, 73, 0.5);
}
.result-img-wrapper {
  display: flex;
  width: 218px;
  height: 180px;

  justify-content: center;
  align-items: center;
}
.result-item:hover .result-photo,
.result-item:focus .result-photo {
  display: none;
}
.result-item:hover .btn-buy,
.result-item:hover .btn-mark,
.result-item:focus .btn-buy,
.result-item:focus .btn-mark {
  display: block;
}
.result-item p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 30px;
  margin-bottom: 18px;
  text-align: center;
  color: #000000;
}
.result-item s {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  margin-right: 73px;
  margin-bottom: 13px;
  margin-left: 76px;
  text-align: center;
  text-align: center;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #a9a9a9;
}
.result-photo-active {
  display: none;
}
.hover-active {
  display: block;
}
.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagination-item {
  margin-right: 10px;
}
.pagination-item a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  display: block;
  padding-top: 9px;
  padding-right: 14px;
  padding-bottom: 9px;
  padding-left: 14px;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
}
.pagination-item:last-child a {
  padding-right: 31px;
  padding-left: 31px;
}
.pagination-item:hover a:not(.active-results-page),
.pagination-item:focus a:not(.active-results-page) {
  border: 1px solid #bdc6ca;
}
.pagination-item:active a:not(.active-results-page) {
  border: 1px solid #ee3643;
}
.pagination-item .active-results-page {
  color: #ffffff;
  border: 1px solid #ee3643;
  background-color: #ee3643;
}
.about-goods {
  padding-top: 68px;
  padding-bottom: 66px;
  background-color: #f2f6f8;
}
.about-goods-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  text-transform: uppercase;
  color: #000000;
}
.about-goods-description {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  color: #000000;
}
/*main-catalog*/
/*footer-catalog*/

/*footer-catalog*/
/*modal-index*/

/*modal-index*/
/*modal-catalog*/

/*modal-catalog*/
